@import url('https://fonts.googleapis.com/css?family=Fauna+One|Rozha+One');
.main-content {
  padding: 10px;
}

.list-item--material.list-item--longdivider {
  border-bottom: 1px solid #eee;
}

ons-toolbar.home-toolbar.toolbar.toolbar--material {
  background: #313131;
}

.tabbar--material {
  background-color: #313131;
}

.card {
  background-position: center;
}

.link-card {
  text-decoration: none;
}